body{
background-color: #83CAF9;

}

h1{
    background-color: #AD83F9;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 20px;
}

h2{
 background-color: #008179;
 color: white;
 padding: 10px;
 border: pink 2.8px solid;
 font-family: sans-serif;
}

.parrafo_especial {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
}

h4{
font-size: 24px;

}

ul{
color: #F44C4C;
font-family: fantasy;
font-size: 24px;
border: pink 5px double;

}



