body{
    background-image: url(img/wallhaven-q2l83l.jpg);
    height: 100%;
    
}

h1{
    color: #F1F1F1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

h3{
    color: #F1F1F1;
    font-family: 'Courier New', Courier, monospace;
}